body {
  --bg-color: var(--tg-theme-bg-color);
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
  background-color: var(--bg-color);
  color: var(--tg-theme-text-color);
  margin: 48px 24px;
  padding: 0;
  color-scheme: var(--tg-color-scheme);
}

a {
  color: var(--tg-theme-link-color);
}
#viewport {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: var(--tg-viewport-stable-height, 100vh);
  pointer-events: none;
  transition: all .2s ease;
}

.tab {
display: flex;
flex-wrap: wrap;
gap: 1rem;
}

.tab > input[type="radio"] {
display: none;
}

.tab-content {
display: none;
width: 100%;
margin-top: 1rem;
}

#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
display: block;
}

.tab > label {
padding-top: 0.5rem;
padding-bottom: 0.5rem;
cursor: pointer;
transition: color .15s ease-in-out, border-color .15s ease-in-out;
color: var(--tg-theme-text-color);
background: 0 0;
border-bottom: 0.125rem solid transparent;
}

.tab > label:hover {
border-bottom-color: var(--tg-theme-text-color);
}

.tab > input[type="radio"]:checked + label {
cursor: default;
font-weight: bold;
color: var(--tg-theme-text-color);
border-bottom-color: var(--tg-theme-text-color);
}