body {
  --bg-color: var(--tg-theme-bg-color);
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
  background-color: var(--bg-color);
  color: var(--tg-theme-text-color);
  margin: 5px 5px;
  padding: 0;
  color-scheme: var(--tg-color-scheme);
}

a {
  color: var(--tg-theme-link-color);
}
#viewport {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: var(--tg-viewport-stable-height, 100vh);
  pointer-events: none;
  transition: all .2s ease;
}

.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  border-bottom: 1px solid #ccc;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.tab.active {
  border-bottom-color: var(--tg-theme-link-color);
}

.tab-content {
  display: none;
  padding: 20px;
}

.tab-content.active {
  display: block;
}